.logo-big {
	max-width: 600px;
	width: 35%;
	min-width: 250px;
}
.logo-medium {
	width: 15%;
	max-width: 180px;
	min-width: 100px;
}
.logo-medium2 {
	width: 15%;
	max-width: 180px;
	min-width: 100px;
	margin:15px 10px 10px -15px;
}
.logo-small {
	width: 12%;
	max-width: 180px;
	min-width: 100px;
}