/*
|--------------------------------------------------------------------------
| Common Styles
|--------------------------------------------------------------------------
*/
body {
  background-color: $bg-body;
  color: $primary-text-color;
  font-family: $font-family-secundary;
}
ul {
	padding-left: 0px;
}

.col-rotation {
	float: right;
	@media screen and (max-width: $screen-xs-min) {
		float: left;
		width: 100%;
		text-align: center;
	}
}
.col-information-primary {
	@media screen and (max-width: $screen-xs-min) {
		text-align: center!important;
	}
}