.circle-big1{
	position: absolute;
	left: 40%;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: rgba($brand-secundary,.8);
}
.circle-big2{
	position: absolute;
	left:35%;
	top:270px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba($brand-third,.6);
}
.circle-big3{
	position: absolute;
	left:25%;
	top:170px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba($brand-secundary,.4);
}
