.line-form{
	width: 1px; /* Line width */
      background-color: $gray-light; /* Line color */
      position: absolute;
      box-sizing: border-box;
      height: 250px;
}

.line-form2{
	width: 1px; /* Line width */
      background-color: $gray-light; /* Line color */
      position: absolute;
      box-sizing: border-box;
      height: 350px;
}


