.footer {
	box-sizing:border-box;
	padding-top:0px;
	background: $brand-third;
	margin-bottom:auto;
}

.btn-footer{
	box-sizing:border-box;
	color:white;
	font-family:$font-family-secundary;
	display:block;
	text-decoration: none;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	font-weight:500;
	padding:10px;
	letter-spacing:.3px;

}

.btn-footer:hover{
	text-decoration: none;
	color:white;
	font-weight:700;
}

