.modal-header-color{
	background:$brand-primary;
	color:white;
	font-weight:bold;
	font-size:$font-size-xlarge;
}
.modal-body-color{
	color:$brand-primary;
}

.modal-title1{
	font-weight:bold;
	font-size:$font-size-xlarge;
}